<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <main id="main" class="main">
            <div class="pagetitle">
                <h3>Eventos</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Principal</a></li>
                        <li class="breadcrumb-item">Eventos</li>
                        <li class="breadcrumb-item active">Eventos</li>
                    </ol>
                </nav>
            </div>
            <section class="section dashboard">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Validacion</th>
                                            <th scope="col">Plan de estudios</th>
                                            <th scope="col">Horas</th>
                                            <th scope="col">Semestre Actual</th>
                                            <th scope="col">Tipo de evento</th>
                                            <th scope="col">Acciones</th>
                                            <th scope="col">Acciones</th>
                                            <th scope="col">Acciones</th> 
                                            <th scope="col">Acciones</th> 

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="evento: ${allEvents}">
                                            <td th:text="${evento.name}">Nombre del Evento</td>
                                            <td th:text="${evento.date}">Fecha del Evento</td>
                                            <td th:text="${evento.id_validacion.name}">Validacion</td>
                                            <td th:text="${evento.id_plan_estudios.nombre}">Plan de estudios</td> 
                                            <td th:text="${evento.horas}">Horas</td> 
                                            <td th:text="${evento.semestre_actual_id.nombre}">Semestre Actua</td>
                                            <td th:text="${evento.id_credito.nombre_evento}">Tipo de evento</td> 
                                            <td>
                                                <a th:href="@{/event/edit/{id}(id=${evento.id})}" class="btn btn-outline-info">Editar</a>
                                                
                                               
                                            </td>
                                             <td>
                                                
                                              <a th:href="@{/event/{id}(id=${evento.id})}" class="btn btn-outline-info">Eliminar</a>
                                            </td>
                                            <td>
                                                
                                               <a th:href="@{/event/lista/{id}(id=${evento.id})}" class="btn btn-outline-info">Lista de asistencia</a>
                                            </td>
                                            <td>
                                                
                                               <a th:href="@{/event/lista/{id}(id=${evento.id})}" class="btn btn-outline-info">Lista de asistencia</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <a th:href="@{/events/newEvent}" type="button" class="btn btn-outline-dark">Registrar Evento</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>