<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        
        <main id="main" class="main">
            <div class="pagetitle">
                <h3>Regla plan de estudio</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Principal</a></li>
                        <li class="breadcrumb-item">Carreras</li>
                        <li class="breadcrumb-item active">Regla plan de estudio</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <section class="section dashboard">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          
                                           
                                            <th scope="col">Credito academico</th>
                                            <th scope="col">Credito cultural</th>
                                            <th scope="col">Credito deportivo</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="RPlanEstudio: ${allReglaaPlanEstudio}">
                                            <td th:text="${RPlanEstudio.academico}">academico</td>
                                            <td th:text="${RPlanEstudio.cultural}">cultural</td>
                                            <td th:text="${RPlanEstudio.deportivo}">deportivo</td>
                                           
                                          
                                            <td >
                                                <a th:href="@{/reglaPlanEstudio/edit/{id}(id=${RPlanEstudio.id})}" class="btn btn-outline-info">Editar</a>
                                                <a th:href="@{/reglaPlanEstudio/{id}(id=${RPlanEstudio.id})}" class="btn btn-outline-info">Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <a th:href="@{/reglaPlanEstudio/new}" type="button" class="btn btn-outline-dark">AGREGAR</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>