<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <main id="main" class="main">
            <div>
                    <h3>Semestres actuales</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Principal</a></li>
                            <li class="breadcrumb-item">Estudiantes</li>
                            <li class="breadcrumb-item active">Semestres actuales</li>
                        </ol>
                    </nav>
                </div>
            <section class="section dashboard">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          
                                           
                                            <th scope="col">Nombre </th>
                                            <th scope="col">Fecha de inicio</th>
                                            <th scope="col">Fecha de fin</th>
                                            <th scope="col">activo</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="semestreActual: ${allSemestreActual}">
                                            <td th:text="${semestreActual.nombre}">academico</td>
                                            <td th:text="${semestreActual.fecha_inicio}">cultural</td>
                                            <td th:text="${semestreActual.fecha_fin}">deportivo</td>
                                            <td th:text="${semestreActual.activo}">deportivo</td>
                                           
                                          
                                            <td >
                                                <a th:href="@{/semestreActual/edit/{id}(id=${semestreActual.id})}" class="btn btn-outline-info">Editar</a>
                                                <a th:href="@{/semestreActual/{id}(id=${semestreActual.id})}" class="btn btn-outline-info">Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <a th:href="@{/semestreActual/new}" type="button" class="btn btn-outline-dark">AGREGAR</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/chart.js/chart.min.js"></script>
        <script src="assets/vendor/echarts/echarts.min.js"></script>
        <script src="assets/vendor/quill/quill.min.js"></script>
        <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>