<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>

        <main id="main" class="main">
            <div class="pagetitle">
                <h3>Eventos</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Principal</a></li>
                        <li class="breadcrumb-item">Eventos</li>
                        <li class="breadcrumb-item active">Eventos</li>
                        <li class="breadcrumb-item active">Agregar</li>
                    </ol>
                </nav>
            </div>
            <div class="pagetitle">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datos del evento</h5>

                        <!-- No Labels Form -->
                        <form th:action="@{/eventSave}" th:object="${nuevoEvento}" method="post" class="row g-3">
                            <div class="col-md-12">
                                <label>Nombre </label>
                                <input type="text" class="form-control" th:field="*{name}" placeholder="Your Name">
                            </div>

                            <div class="col-md-12">
                                <label>fecha </label>
                                <input type="text" class="form-control" th:field="*{date}" placeholder="Your Name">
                            </div>
                            <label for="validationCustom04" class="form-label">Validacion</label>
                            <select th:id="validacionOption" th:field="*{id_validacion}">

                                <option th:each="validacion : ${allValidaciones}" th:text="${validacion.name}" th:value="${validacion.id}" />

                            </select>
                            <br>
                            <label for="validationCustom04" class="form-label">Plan de Estudios</label>
                            <select th:id="planEstudiosOption" th:field="*{id_plan_estudios}">

                                <option th:each="planEstudios : ${allPlanEstudios}" th:text="${planEstudios.nombre}" th:value="${planEstudios.id}" />

                            </select>



                            <div class="col-md-12">
                                <label>Horas del Evento para Creditos </label>
                                <input type="text" class="form-control" th:field="*{horas}" placeholder="Horas">
                            </div>

                            <label for="validationCustom04" class="form-label">Semestre Actual</label>
                            <select th:id="planSemestreActualOption" th:field="*{semestre_actual_id}">

                                <option th:each="semestreActual : ${allSemestreActual}" th:text="${semestreActual.nombre}" th:value="${semestreActual.id}" />

                            </select>
                            <label for="validationCustom04" class="form-label">Tipo de credito</label>
                            <select th:id="tipoCreditoOption" th:field="*{id_credito}">

                                <option th:each="credito : ${allCredito}" th:text="${credito.nombre_evento}" th:value="${credito.id}" />

                            </select>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                    </form><!-- End No Labels Form -->

                </div>
            </div>



        </main>

        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>