<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <main id="main" class="main">
<div>
                    <h3>Agregar semestre actual</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Principal</a></li>
                            <li class="breadcrumb-item">Estudiantes</li>
                            <li class="breadcrumb-item active">Semestres actuales</li>
                            <li class="breadcrumb-item active">Agregar</li>
                        </ol>
                    </nav>
                </div>
                <div class="pagetitle">
                   <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Datos del semestre actual</h5>

                            <!-- No Labels Form -->
                            <form th:action="@{/semestreActual}" th:object="${nuevoSemestreActual}" method="post" class="row g-3">
                                <div class="col-md-12">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre">
                                </div>
                                <div class="col-md-12">
                                    <label>Fecha de inicio</label>
                                    <input type="text" class="form-control" th:field="*{fecha_inicio}" placeholder="Fecha de inicio">
                                </div>
                                <div class="col-md-12">
                                    <label>Fecha de fin</label>
                                    <input type="text" class="form-control" th:field="*{fecha_fin}" placeholder="Fecha de fin">
                                </div>
                                <div class="col-md-12">
                                    <label>Activo</label>
                                    <input type="checkbox" class="form-control" th:field="*{activo}" placeholder="Activo">
                                </div>

                



                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                        </form><!-- End No Labels Form -->

                    </div>
                </div>



            </main><!-- End #main -->
        
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>