<!<!DOCTYPE html>
<html>
    <head th:replace="Base/dashboardAlumno :: cabeza"></head>
    <body>
        <header th:replace="Base/dashboardAlumno :: encabezado"></header>
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <main id="main" class="main">
            <div class="pagetitle">
                <div>
                    <h3>Agregar semestre</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Principal</a></li>
                            <li class="breadcrumb-item">Estudiantes</li>
                            <li class="breadcrumb-item active">Semestres</li>
                            <li class="breadcrumb-item active">Agregar</li>
                        </ol>
                    </nav>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datos del semestre</h5>

                        <!-- No Labels Form -->
                        <form th:action="@{/semestre}" th:object="${nuevoSemestre}" method="post" class="row g-3">
                            <div class="col-md-12">
                                <label>Nombre del semeste</label>
                                <input type="text" class="form-control" th:field="*{nombre}" placeholder="Cuantos creditos academicos">
                            </div>
                            <label for="validationCustom04" class="form-label">Semestre Actual</label>
                            <select th:id="semestreSemestreActualOption" th:field="*{semestre_actual_id}">

                                <option th:each="semestreActual : ${allSemestreActual}" th:text="${semestreActual.id}" th:value="${semestreActual.id}" />

                            </select>
                            <label for="validationCustom04" class="form-label">Grupo</label>
                            <select th:id="semestreGRuposOption" th:field="*{grupos_id}">

                                <option th:each="gruposAll : ${allGrupos}" th:text="${gruposAll.id}" th:value="${gruposAll.id}" />

                            </select>


                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">GUARDAR</button>

                    </div>
                    </form><!-- End No Labels Form -->

                </div>
            </div>



        </main><!-- End #main -->
        <aside th:replace="Base/dashboardAlumno :: asi"></aside>
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

    </body>

</html>